body
{
    background-image:url("image/img37.jpg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style:none;
}
nav{
    background-color: rgb(64, 224, 0);
    height: 80px;
    width: 100%;

}
.logo{
color: aliceblue;
font-size: 50px;
padding-left: 100px;
font-weight: bold;
line-height: 80px;
}
nav ul{
    float: right;
}
a{
    color: aliceblue;
    font-weight: bolder;
}
a:hover{
    font-size: 40px;
}
nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 50px;
    font-size: 35px;
}
#demo {
    color: #000000;
    font-size: 5px;
    font-weight: 300;
    line-height: 0.9;
    margin: 110px;
    font-size: 20px;
    margin: 20px 0;
}
.button1 button{
    background-color:blueviolet;
    padding-left:20px;
}
p{
    color:#ff0000;
}
h2 {
    font-size: 20px;
    padding: 10px 220px 10px 220px;
}
h3 {
    font-size: 20px;
    padding: 10px 160px 10px 140px;
}
h4 {
    font-size:20px;
    padding: 10px 160px 10px 140px;
}
h5 {
    font-size: 20px;
    padding: 10px 160px 10px 140px;
}
h6 {
    font-size: 20px;
    padding: 10px 160px 10px 140px;
}
h7 {
    font-size:20px;
    padding: 10px 160px 10px 140px;
}
h8 {
    font-size:20px;
    padding: 10px 160px 10px 140px;
}
.footer {
    width: 100%;
    margin: 0 auto;
    margin-left: 0px;
    height: 30px;
    border-top: 6px solid #1017f3;
}

.container {
    background-color: powderblue;
}

.footer ul {
    border-radius: 8px;
}

.footer p {
    padding: 25px;
}
