body {
    background-color: white;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 760px;
    height: 80px;
    margin: 0 auto;
    padding: 0 5px 5px 5px;
}
h1{
    margin-bottom:-2px;
}
#slider {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 600px;
    margin: 10px auto;
    margin-left: -40px;
}

#slider ul {
    list-style: none;
    position: relative;
}

#slider ul li {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
a.next, a.back {
    text-decoration: none;
    background: #ffd800;
    padding: 10px;
    position: absolute;
    z-index: 999;
    top:280px;
}

a.back {
    left: 40px;
}

a.next {
    right: 0;
}
.viagle {
    margin-top:20px;
    margin-bottom: 20px;
}
.viagle_info {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.viagle_info h2 {
    padding: 1.25rem;
    margin: 0;
}
.viagle_info {
    column-gap: 1.25rem;
    padding: 1.25rem;
    margin: 0;
    text-align: center;
    column-count: 1;
    box-sizing: border-box;
}
.content p {
    font-family: Charter,Georgia,Times,Serif;
    font-size: .875rem;
    line-height: 1.3;
    line-height: 1.6;
    font-weight: 400;
}
.footer {
    width: 100%;
    margin: 0 auto;
    margin-left: 0px;
    height: 30px;
    border-top: 6px solid ;
}
.container{
    background-color:wheat;
    color:black;
}
.footer ul {
    border-radius: 8px;
}
.footer p {
    padding: 25px;
}
