*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
/* * small 
@media(min-width:768px) {
    .container{
        width: 750px;
    }
}
medium
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
large
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
} */
header {
    display: flex;
    justify-content: space-between;
    background-color: #aaa;
    width: 100%;
    z-index: 999;
    position: fixed;
    padding: 10px 100px;
    align-items: center;
}
.logo {
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    color: #3a6cf4;
    font-weight: 700;
}

.navigation a {
    color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: none;
    padding-left:  30px;
    text-decoration: none;
    position: relative;
}
.navigation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: azure;
    left: 30px;
    bottom: 0;
    transition: .3s;
}
.navigation a:hover::after{
    width: calc(100% - 32px);
}
.navigation a:hover{
    color: #601cfc;
    width: 100%;
}
section {
    padding: 100px 200px;
}
.main {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background:url("image/CARS3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    color: darkslateblue;
    font-size: 2em;
    font-weight: 60px;
    display: inline-block;
    margin-top: 10px;
}
.main h3 {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-btn{
   color: #fff;
   background-color: #3a6cf4;
   text-decoration: none;
   font-weight: 700;
   font-size: 1.1em;
   display: inline-block;
   padding: .9375em 2.1875em;
   margin-bottom: 40px;
   letter-spacing: 1px;
   border-radius: 15px; 
   transition: .3s;
}
.main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-icons a {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding-right: 15px;
}
.our-work {
    display: flex;
    justify-content: space-between;
    background-color: #aaa;
    padding: .5rem 1rem;
    width: 100%;
}
.our-work a{
color: #0a49f6;
text-decoration: none;
font-weight: 500;
transition: .3s ease;
}
.our-work a:hover {
color: #601cfc;
border: 2px solid green;
padding: 0 10px ;
border-radius: 10px;
}
