*{

    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
    
    }
    .container{
        background:rgb(110, 116, 192) ;
        min-height: 100vh;
        overflow: hidden;
        
    }
    header{
        display: flex;
        justify-content: space-between;
        margin: auto;
    width: 80%;
    align-items: center;
    padding: 20px 0;
    }
    .logo{
        width: 80px;
    }
    ul li{
        display: inline-block;
    }
    ul li a{
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        text-transform: uppercase;
    }
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    .content .text{
        width: 40%;
        color: #fff;
    }
    .content .text h2{
        font-size: 40px;
        text-transform: uppercase;
    }
    .content .text p{
        font-size: 18px;
        margin: 20px 0;
    }
    .content .image{
        width: 40%;
    }
    ul li a:hover{
        color: rgb(238, 6, 6);
    }
    .copy-right h3{ 
        color: whitesmoke; 
        text-align: center;
        font-size: 35px;
      }
      .Design a{
       color:blue;
      float: right;
      padding-right: 100px;
      font-size: 35px;
      }
      .copy-right p{
        padding-left: 50px;
        color: red;
        font-size:35px;
      }
      .copy-right{
        width: 100%;
        height: 300px;
        background-color: black;
      }
      .social{
        text-align: center;
      }
      
      .social img{
      width: 100px;
      margin: 8px;
      }
    